:root {
    --font-family: 'Outfit', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --primary-color: rgb(15, 168, 219);
    --light-gray: #f0f0f0;
    --border-gray: rgba(128, 128, 128, 0.54);
    --shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

html,
body {
    font-family: var(--font-family);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* -header- */

header {
    box-shadow: var(--shadow);
    position: sticky;
    top: 0;
    background-color:  #fff;
    padding: 0.5rem 1rem;
    z-index: 1000;
}

header a {
    text-decoration: none;
    color: black;
}

.navbar-container {
    margin: 0 5rem;
    display: flex;
    align-items: center;
}

.navbar-ul {
    display: flex;
    margin-left: auto;
}

.navbar-hamburger { display: none; }

/* -footer- */

footer {
    width: 80%;
    margin-top: auto;
    background-color: #fff;
    cursor: pointer;
}

.footer-ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem;
    padding: 0;
}

/* -header & footer- */

li { margin: 0em 1em; vertical-align: middle; list-style-type: none; }

/* -main- */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    width: 80%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    box-sizing: border-box;
    background: white;
}

/* content - main */
.product-section {
    display: flex;
    gap: 3rem;
    width: 100%;
    box-sizing: border-box;
}

.product-gallery, .product-details{
    flex:1;
    display: flex;
    flex-direction: column;
}

.product-gallery {
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.product-gallery img {
    width: 100%;
    object-fit: contain;
    justify-self: center;
    transition: 0.3s ease;
}

.product-details {
    justify-content: space-between;
}

.product-details h1 {
    margin-top: 0;
    font-size: xx-large;
    font-weight: bold;
}

/* -pricing- */

.pricing {
    display: flex;
    flex-direction: column;
}

.product-details .pricing .price {
    font-size: xx-large;
    font-weight: bold;
    margin: 0;
}

.product-details .pricing .installments {
    font-size: large;
    margin-bottom: 0;
}

.color-options label {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.5s;
}

.color-options label:hover { transform: scale(1.1); }

/* thumbnails */
.thumbnails {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 1rem;
    align-self: flex-start;
}

.thumbnails img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease, border 0.3s ease;
    border-radius: 10px;
    padding: .5rem;
    background: rgba(186, 136, 227, 0);
    border: 1px solid gray;
    overflow: hidden;
    transition: transform .5s;
}

.thumbnails img:hover { transform: scale(1.1); }

/* -color related- */
.product-colors {
    display: flex;
    flex-direction: column;
}

.product-colors p {
    font-size: large;
}

.product-colors label.color-swatch {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px #d3d3d39b;
    transition: border 0.2s, transform 0.2s;
    border-radius: 50%;
}

.selected {
    transition: .1s ease-in-out;
    outline: 1px solid rgba(0, 0, 0, 0.448);
}

/* -buttons- */
.product-actions {
    display: flex;
    flex-direction: column;
    font-size: large;
}

.product-actions button {
    padding: 1rem;
    border: 1px solid black;
    background-color: white;
    font-size: large;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.product-actions .add-to-cart {
    border: none;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.54);
    transition: all ease .5s;
    color: black;
}

.product-actions .buy-now {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    background-color: rgb(15, 168, 219);
    border-radius: 5px;
    border: none;
    color: white;
    transition: all ease .5s;
}

.product-actions button:first-of-type {
    margin-bottom: .9rem;
}

.product-actions .add-to-cart:hover {
    background-color: hsl(0, 4%, 95%);
}

.product-actions .buy-now:hover {
    background-color: hsl(206, 67%, 41%);
}

.product-actions .add-to-cart:active,
.product-actions .buy-now:active {
    transform: scale(1.02);
}

/* -quantity related- */
.quantity {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* reviews - info */
.info-review-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--light-gray);
}

.titles {
    border-top: 1px solid var(--light-gray);
    display: flex;
    gap: 3rem;
}

.info-container {
    flex: 1;
    display: flex;
}

.review-title {
    flex: 1;
}

.description-title {
    flex: 1;
    display: flex;
}

.details-title {
    flex: 1;
    display: flex;
}

.tab-title {
    border: 1px solid transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    transition: border 0.3s ease, padding 0.3s ease ;
}

.tab-title.active {
    border: 1px solid #9ba5b486;
    padding: 1rem;
    border-radius: 10px;
}

.tab-title i {
  color: #000000;       
  opacity: 0.4;      
  transition: color 0.3s ease, opacity 0.3s ease;
}

.tab-title.active i {
  color: #000000;      
  opacity: 0.4;
}

#details-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#details-content ul li {
    padding: 1rem;

}

#details-content ul li:nth-child(odd) {
    background-color: #f0f0f0;
}

#details-content ul li:nth-child(even) {
    background-color: #ffffff;
}

#reviews-content .review {
    border-bottom: 1px solid rgba(0, 0, 0, 0.209);
    padding: 1rem;
}

#details-content li {
    margin: 0;
    padding: 0;
}

.related-container h2{
    margin-top: 0;
}

.carousel {
    width: 100%;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 1rem 0;
    justify-content: space-around;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
    outline: none;
}

.carousel-item {
    flex: 0 0 auto;
    max-width: 200px;
}

.carousel img {
    width: auto;
    object-fit: cover;
    transition: ease .2s;
    border-radius: 6px;
    overflow: hidden;
}

.carousel img:hover {
    transform: scale(1.1);
}

/* Tablet */
@media (min-width: 769px) and (max-width: 1024px) {
    .navbar-container {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .navbar-ul {
        display: flex;
        gap: 1rem;
    }

    .navbar-hamburger {
        display: none;
    }

    .main-container {
        width: 90%;
        padding: 2rem;

    }

    .product-section {
        flex-direction: row;
        gap: 2rem;
    }

    .product-gallery {
        flex: 1;
        overflow: visible;
        justify-content: flex-start;
    }

    .product-gallery img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }

    .product-details {
        flex: 1;
    }

    .product-details h1, .product-details .pricing .price {
        font-size: x-large;
    }

    .thumbnails img {
        border-radius: 10px;
        width: 80px;
        height: 80px;
    }

    .thumbnails img.thumb {
        border-radius: 10px;
    }

    .product-actions button {
        font-size: medium;
        padding: 0.9rem;
    }

    .titles {
        display: flex;
        gap: 2rem;
    }

    footer {
        width: 90%;
    }

    .footer-ul {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 1rem;
    }
}

/* Mobile */
@media (max-width: 768px) {

    .navbar-ul {
        display: none;
    }

    .navbar-container {
        margin: 0;
        padding: 0;
    }

    .navbar-hamburger {
        margin-left: auto;
        display: block;
    }

    .hamburger-icon {
        width: 30px;
        height: 3px;
        background-color: black;
        border-radius: 10px;
        margin: 6px 0;
    }

    .drawer-menu {
        transition: right 0.3s ease;
    }

    header {
        padding: 1rem;
    }

    .main-container {
        width: 95%;
        padding: 1.5rem;
    }

    .product-gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow: visible;
        height: 100%;
    }

    .titles h2 {
        font-size: medium;
    }

    .product-gallery img {
        object-fit: contain;
        max-height: 80%;
    }

    .thumbnails {
        width: 100%;
        margin: 0;

        flex-wrap: nowrap;
        align-items: center;
        flex: 1;
    }

    .thumbnails img {
        flex: 1
    }

    .product-section {
        flex-direction: column;
    }

    .product-details h1 {
        font-size: x-large;
    }

    .product-details .pricing .price {
        font-size: x-large;
    }

    .product-actions button {
        font-size: medium;
        padding: 0.8rem;
    }

    footer {
        width: 100%;
    }

    .footer-ul {
        flex-direction: column;
        gap: 1rem;
        margin: 1rem;
    }
}

/* Small Mobile */
@media (max-width: 480px) {
    .product-gallery img {
        height: 60%;
    }

    .product-details h1 {
        font-size: large;
    }

    .product-details .pricing .price {
        font-size: large;
    }

    .titles h2 {
        font-size: small;
    }

    .titles {
        flex-direction: column;
        gap: .1rem;
    }

    .carousel-item {
        max-width: 150px;
    }

    .thumbnails img {
        min-width: 30px;
        min-height: 30px;
        width: 60px;
        height: 60px;
    }
}

/* utils */
.toggled-hidden {
    display: none;
}